.input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  height: 100%;
  width: 100%;
  gap: 10px 30px;
}

.web-link,
.pass-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.weblinks-text {
  font-size: 14px;
  line-height: 1.5;
  color: grey;
  padding-left: 8px;
}

@media screen and (max-width: 480px) {
  .input-grid {
    display: flex;
    flex-direction: column;
  }
}
