.navbar {
  background-color: #fff;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 99 !important;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.logo {
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon {
  width: 32px;
}

.nav-icon-container {
  display: flex;
  gap: 1rem;
  font-size: 18px;
}
